{% extends 'base.html'%}

{% block style %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/secretinfo.css') }}">

{% endblock %}

{% block title %}
Secret Santa | Event Details
{% endblock %}


{% block content %}

<center>
<div class="event">

<center><h1>Your Secret Person is <span >{{selected_person.first_name|title+" "+selected_person.last_name|title}}</span></h1></center><br>
<hr>
    <center>
    <div class="content-container">
        <h2><span style="color: rgb(248, 225, 46); text-decoration: underline;">{{selected_person.first_name|title+" "+selected_person.last_name|title}}'s Info</span></h2>
        <br>
        
        <div class="answer-container">
            {% if person_fields.field_titles.field_1%}
                <h2>{{person_fields.field_titles.field_1|title}}</h2>{{person_fields.field_1}}
                <br><br>
            {% endif %}
            {% if person_fields.field_titles.field_2%}
                <h2>{{person_fields.field_titles.field_2|title}}</h2>{{person_fields.field_2}}
            <br><br>
            {% endif %}
            {% if person_fields.field_titles.field_3%}
                <h2>{{person_fields.field_titles.field_3|title}}</h2>{{person_fields.field_3}}
            <br><br>
            {% endif %}
            {% if person_fields.field_titles.field_4%}
                <h2>{{person_fields.field_titles.field_4|title}}</h2></h1>{{person_fields.field_4}}
            <br><br>
            {% endif %}
            {% if person_fields.field_titles.field_5%}
                <h2>{{person_fields.field_titles.field_5|title}}</h2>{{person_fields.field_5}}
            <br><br>
            {% endif %}
            {% if person_fields.field_titles.field_6%}
                <h2>{{person_fields.field_titles.field_6|title}}</h2>{{person_fields.field_6}}
            <br><br>
            {% endif %}
            {% if person_fields.field_titles.field_7%}
                <h2>{{person_fields.field_titles.field_7|title}}</h2>{{person_fields.field_7}}
            <br><br>
            {% endif %}
            {% if person_fields.field_titles.field_8%}
                <h2>{{person_fields.field_titles.field_8|title}}</h2>{{person_fields.field_8}}
            <br><br>
            {% endif %}
            {% if person_fields.field_titles.field_9%}
                <h2>{{person_fields.field_titles.field_9|title}}</h2>{{person_fields.field_9}}
            <br><br>
            {% endif %}
            {% if person_fields.field_titles.field_10%}
                <h2>{{person_fields.field_titles.field_10|title}}</h2>{{person_fields.field_10}}
            <br><br>
            {% endif %}
        </div>
        
        
        
        
    </div>
</center>
</div>
</center>
{% endblock %}